.home {
	font-size: 15px;
	width: 100%;
	height: 100%;
	font-family: "Merriweather", serif;
}

.bg {
	background-color: #f1f5f9;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: rgb(197, 197, 197);
}

.intro-pera {
	text-align: center;
	font-size: 35px;
	font-weight: 300;
	text-indent: 2%;
	margin: 30px 50px 20px 50px;
}

.caruselImg {
	width: 100%;
	height: calc(100vh - 40px);
	opacity: 0.9;
	border-image-outset: 2px 2px 4px #ffffff;
	border-radius: 20px;
	object-fit: cover;
}

.overlay-container {
	border-radius: 20px;
	position: relative;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	background-color: rgba(38, 53, 86, 0.83);
	border-radius: 20px;
}

.overlay h3,
.overlay h3 {
	color: whitesmoke;
}

.overlay h3 {
	margin-top: 10px;
}

.overlay .button-glass {
	margin-top: 30px;
	background-color: #ffffff24;
	border: 2px solid #f4f4f4;
	border-radius: 50px;
	padding: 10px 20px;
	color: #fafeff;
	animation: shadow-pulse 3s infinite;
}

.overlay .button-glass:hover {
	background-color: #00d2ff;
	border: 2px solid #00d2ff;
	color: whitesmoke;
}

.carousel-caption {
	position: static;
	width: calc(100% - 240px);
}
.caption-container {
	margin: auto;
	width: 80%;
}
.home .carousel {
	height: 100% !important;
}
.carousel-inner {
	height: 100%;
	min-height: 500px;
	border-radius: 20px;
}

.shadow-head {
	-webkit-text-stroke: 1px #f8f8f8;
	text-shadow: 0px 2px 3px #000000;
}

@keyframes shadow-pulse {
	0% {
		box-shadow: 0 0 0 0px rgba(204, 204, 204, 0.88);
	}
	100% {
		box-shadow: 0 0 0 7px rgba(212, 212, 212, 0.426);
	}
}
